<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <script src="https://kit.fontawesome.com/f6318352bf.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/aboutus.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <a href="#" class="appname">UDrive</a>
        <div class="container">
            <ul class="navbar">
                <li><a href="/home">HOME</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/booking">CAR BOOKING</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <div class="profile">
                    <a href="#"><ion-icon name="person-circle-outline" class="profileicon"></ion-icon></a>
            </div>
            <div>
            <ion-icon name="menu-outline" class="menutoggle"></ion-icon>
            </div>
        </div>
    </header>
    <div class="title">
        UDRIVE CAR RENTAL SERVICE
        <br>
        <a href="/booking"><button>Rent a car</button></a>
        <br>
        <h1>Enjoy the ride</h1>
    </div>
      <div class="about-sec">
        <div class="about-section">
            <div class="about-title">
                <h1>About Us</h1>
            </div>
            <div class="about-content">
                <h2>
                    Udrive car rental services is a online car rental system offers you to
            reserve and rent a car online for a certain period of time.This car rental services
            is to automate vehicle rental and reservation so that you don't
            have to waste time calling and waiting for a vehicle. To convert the
            manual car rental procedure into a digital method.
                </h2>
                <div class="connect">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="/images/about us.png">
        </div>
      </div>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        var menubar = document.querySelector('.menutoggle');
        var navbar= document.querySelector('ul');

menubar.addEventListener('click',()=>{
    navbar.classList.toggle('slide');
});
    </script>
</body>
</html>