<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <link href="/css/bookform.css" rel="stylesheet" type="text/css">
</head>
<body>
        <div class="container">
            <div class="title">Booking Form</div>
            <div class="content">
              <form action="#">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your first name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your last name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Pickup Date</span>
                    <input type="date"  placeholder="Enter your pickup date" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Drop-off Date</span>
                    <input type="date" placeholder="Enter your Drop-off Date" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Pickup Time</span>
                    <input type="time"  placeholder="Enter your pickup time" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Drop-off Time</span>
                    <input type="time" placeholder="Enter your Drop-off time" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Select location</span>
                    <select name="location" id="location">
                        <option value="Salem">Salem</option>
                        <option value="chennai">Chennai</option>
                        <option value="Namakkal">Namakkal</option>
                        <option value="Erode">Erode</option>
                      </select>
                  </div>
                  <div class="input-box">
                    <span class="details">Select no of days</span>
                    <select name="days" id="days">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                  </div>
                  <div class="input-box">
                    <span class="details">Pickup Address</span>
                    <input type="text" placeholder="Enter your pickup address" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Drop-off Address</span>
                    <input type="text" placeholder="Enter your Drop-off address" required>
                  </div>
                </div>
                <div class="button">
                  <a href="/booking"><input type="button" value="Cancel"></a>
                  <input type="submit"value="Proceed">
                </div>
              </form>
            </div>
          </div>
    </div>
</body>
</html>