<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <script src="https://kit.fontawesome.com/f6318352bf.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/booking.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="con">
    <header>
        <a href="#" class="appname">UDrive</a>
        <div class="container">
            <ul class="navbar">
                <li><a href="/home">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/booking">CAR BOOKING</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <div class="profile">
                    <a href="#"><ion-icon name="person-circle-outline" class="profileicon"></ion-icon></a>
            </div>
            <div>
            <ion-icon name="menu-outline" class="menutoggle"></ion-icon>
            </div>
        </div>
    </header>
    </div>
    <div class="background">
    <div class="bookpage">
        UDRIVE CAR RENTAL SERVICE
        <br>
        <h1 style="font-size:40px;margin-top: 40px;color: rgb(0, 255, 255);">Car Booking</h1>
        </div>
        </div>
        <div class="Book">
            <div class="search">
               <h1>Search Cars</h1>
               <form action="#">
                   <div class="box"><label for="cars" style="font-size: 18px;"> Select brand:</label>
                       <br>
                       <select name="cars" id="cars" style="width: 305px; height: 40px;margin-left:5px;font-size: 15px;">
                         <option value="">--Please choose a car--</option>
                         <option value="Maruti suzuki">Maruti suzuki</option>
                         <option value="Hyundai">Hyundai</option>
                         <option value="Tata">Tata</option>
                         <option value="Mahindra">Mahindra</option>
                         <option value="Ford">Ford</option>
                         <option value="Ford">Toyota</option>
                         <option value="Ford">Honda</option>
                         <option value="Ford">Kia</option>
                       </select>
                       </div>
                   <div class="box">
                       <label for="Sdate" style="font-size: 18px;">Pickup Date:</label><br>
                       <input type="date" name="Sdate" id ="Sdate"style="width: 305px; height: 40px;margin-left:5px;font-size: 15px;" >
                     </div>
                     <div class="box">
                       <label for="Ddate" style="font-size: 18px;"> Dropoff Date:</label><br>
                       <input type="date" name="Ddate" id ="Ddate" style="width: 305px; height: 40px;margin-left:5px;font-size: 15px;">
                     </div>
                     <br>
                     <div class="submit">
                     <input type="submit" value="Search" style="width: 305px; height: 50px; font-size: 30px;">
                   </div>
                 </form>
            </div>
            <div class="details">
             <div class="card-content">
                <div class="card">
                  <div class="car-image1">
                   <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Dzire-2020/7664/1584705998420/front-left-side-47.jpg?tr=w-456" alt="Maruthi suzuki Dzire">
                  </div>
                  <div class="name">
                   <h1>Maruti Suzuki Dzire</h1>
                   <p><i class="fa fa-rupee"></i>5500 per day</p>
                   <p class="down"><i class="fa-solid fa-gas-pump"></i>Petrol/CNG
                   <i class="fa fa-car"></i>5 seats</p>
                   <p><i class="fa fa-tachometer"></i>23.26 kmpl</p>
                  </div>
                  <div class="rent">
                  <a href="/description" class="btn">RENT THIS CAR</a>
                 </div>
            </div>
            <div class="card">
             <div class="car-image1">
              <img src="https://www.drivespark.com/images/2018-05/2018-hyundai-creta-exterior-4.jpg" alt="Hyundai Creta">
             </div>
             <div class="name">
              <h1>Hyundai Creta</h1>
              <p><i class="fa fa-rupee"></i>5000 per day</p>
              <p class="down"><i class="fa-solid fa-gas-pump"></i>Diesel/Petrol
              <i class="fa fa-car"></i>5 seats</p>
              <p><i class="fa fa-tachometer"></i>16.8 kmpl</p>
             </div>
             <div class="rent">
               <a href="/description" class="btn">RENT THIS CAR</a>
              </div>
         </div>
         <div class="card">
           <div class="car-image1">
            <img src="https://autohexa.com/wp-content/uploads/2020/06/1540456070603-1.jpg" alt="Ford Aspire">
           </div>
           <div class="name">
            <h1>Ford Aspire</h1>
            <p><i class="fa fa-rupee"></i>5000 per day</p>
            <p class="down"><i class="fa-solid fa-gas-pump"></i>Petrol
            <i class="fa fa-car"></i>5 seats</p>
            <p><i class="fa fa-tachometer"></i>18.16 kmpl</p>
           </div>
           <div class="rent" style="margin-left:-165px;">
             <a href="/description" class="btn">RENT THIS CAR</a>
            </div>
       </div>
       <div class="card">
         <div class="car-image1">
          <img src="https://images.livemint.com/img/2021/10/04/original/punch_2_1633332467674.jpg" alt="Tata Punch">
         </div>
         <div class="name">
          <h1>Tata Punch</h1>
          <p><i class="fa fa-rupee"></i>4500 per day</p>
          <p class="down"><i class="fa-solid fa-gas-pump"></i>Petrol
          <i class="fa fa-car"></i>5 seats</p>
          <p><i class="fa fa-tachometer"></i>18.97 kmpl</p>
         </div>
         <div class="rent" style="margin-left:-165px;">
           <a href="/description" class="btn">RENT THIS CAR</a>
          </div>
     </div>
     <div class="card">
       <div class="car-image1">
        <img src="https://images.hindustantimes.com/auto/auto-images/mahindra/xuv700/exterior_mahindra-xuv700_front-left-side_600x400_01.jpg" alt="Mahindra XUV700">
       </div>
       <div class="name">
        <h1>Mahindra XUV700</h1>
        <p><i class="fa fa-rupee"></i>5000 per day</p>
        <p class="down"><i class="fa-solid fa-gas-pump"></i>Petrol/Diesel
        <i class="fa fa-car"></i>5 seats</p>
        <p><i class="fa fa-tachometer"></i>15.0 kmpl</p>
       </div>
       <div class="rent">
         <a href="/description" class="btn">RENT THIS CAR</a>
        </div>
   </div>
   </div>
   </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        var menubar = document.querySelector('.menutoggle');
        var navbar= document.querySelector('ul');

menubar.addEventListener('click',()=>{
    navbar.classList.toggle('slide');
});
    </script>
</body>
</html>