<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car rental</title>
    <link rel="stylesheet" href="/css/description.css" type="text/css">
    <script src="https://kit.fontawesome.com/f6318352bf.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Maruti Suzuki Dzire</h1>
    <div class="slider">
        <div class="slides">
            <input type="radio" id="radio1" name="radioselect">
            <input type="radio" id="radio2" name="radioselect">
            <input type="radio" id="radio3" name="radioselect">
            <input type="radio" id="radio4" name="radioselect">
            <input type="radio" id="radio5" name="radioselect">
            <input type="radio" id="radio6" name="radioselect">
    <div class="slide first"><img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Maruti/Dzire-2020/7664/1584705998420/front-left-side-47.jpg?tr=w-375"></div>
      <div class="slide"><img src="https://www.motorbeam.com/wp-content/uploads/2015-Maruti-DZire-Facelift-Interior-1200x900.jpg"></div>
      <div class="slide"><img src="https://news.maxabout.com/wp-content/uploads/2018/05/Modified-Maruti-Dzire-Kitup-3.jpg"></div>
      <div class="slide"><img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Maruti/Dzire-2020/7664/1584705998420/rear-left-view-121.jpg?tr=w-375"></div>
      <div class="slide"><img src="https://img.indianautosblog.com/2017/04/2017-Maruti-Dzire-interior-press-image.jpeg"></div>
      <div class="slide"><img src="https://media.zigcdn.com/media/content/2020/Mar/zw-maruti-suzuki-dzire-facelift.jpg"></div>
      <div class="automatic">
        <div class="automatic1"></div>
        <div class="automatic2"></div>
        <div class="automatic3"></div>
        <div class="automatic4"></div>
        <div class="automatic5"></div>
        <div class="automatic6"></div>
      </div>  
</div>
<div class="manual-slide">
    <label for="radio1" class="manual"></label>
    <label for="radio2"class="manual"></label>
    <label for="radio3"class="manual"></label>
    <label for="radio4"class="manual"></label>
    <label for="radio5"class="manual"></label>
    <label for="radio6"class="manual"></label>
  </div>
    </div>
    <div class="container">
        <div class="container1">
            <div class="card">
                <div class="first-image">
                    <div class="image-gallery">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/226_arctic-white_ededed.jpg?tr=w-898">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/223_sherwood-brown_46392e.jpg?tr=w-898">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/221_oxford-blue_4c65af.jpg?tr=w-898">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/225_phonexis-red_460709.jpg?tr=w-898">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/224_magma-grey_333639.jpg?tr=w-898">
                        <img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/222_premium-silver_f6f6f6.jpg?tr=w-898">
                    </div>
                </div>
                <div class="image-slider">
                    <div class="img active">
                        <a href="#" data-id="1"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/226_arctic-white_ededed.jpg?tr=w-898"></a>
                    </div>
                    <div class="img">
                        <a href="#" data-id="2"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/223_sherwood-brown_46392e.jpg?tr=w-898"></a>
                    </div>
                    <div class="img">
                        <a href="#" data-id="3"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/221_oxford-blue_4c65af.jpg?tr=w-898"></a>
                    </div>
                    <div class="img">
                        <a href="#" data-id="4"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/225_phonexis-red_460709.jpg?tr=w-898"></a>
                    </div>
                    <div class="img">
                        <a href="#" data-id="5"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/224_magma-grey_333639.jpg?tr=w-898"></a>
                    </div>
                    <div class="img">
                        <a href="#" data-id="6"><img src="https://stimg.cardekho.com/images/car-images/930x620/Maruti/Swift-Dzire/7664/1584942391183/222_premium-silver_f6f6f6.jpg?tr=w-898"></a>
                    </div>
                </div>
            </div>
            <div class="container2">
                <h2><u>Maruti Suzuki Dzire</u></h2>
                <h3><i class="fa fa-rupee"></i>5500 per day</h3>
                <div class="content">
                    <div class="specifications">
                    <h4>Key Specifications</h4>
                <p><i class="fa fa-check"></i>Milege -> 23.26 kmpl</p>
                <p><i class="fa fa-check"></i>Fuel-type -> Petrol/CNG</p>
                <p><i class="fa fa-check"></i>Seats -> 5 seats</p>
                <p><i class="fa fa-check"></i>Fuel Tank Capacity -> 37.0</p>
                <p><i class="fa fa-check"></i>No. of cylinder -> 4</p>
            </div>
            <div class="features">
                <h4>Key Features</h4>
                <p><i class="fa fa-check"></i>Driver Airbag</p>
                <p><i class="fa fa-check"></i>Passenger Airbag</p>
                <p><i class="fa fa-check"></i>Air Conditioner</p>
                <p><i class="fa fa-check"></i>Power Steering</p>
                <p><i class="fa fa-check"></i>Anti Lock Braking System</p>
            </div>
            </div>
            <div class="form" style="margin-top:25px;">
                    <label>Color:</label>
                    <select style="width: 120px;height:30px;">
                        <option>Arctic White</option>
                        <option>Sherwood Brown</option>
                        <option>Oxford Blue</option>
                        <option>Phoenix Red</option>
                        <option>Magma Grey</option>
                        <option>Premium Silver</option>
                        </select>
            </div>
            <div class="buttons">
            <a href="/booking"><button>Go Back</button></a>
            <a href="/bookform"><button>Book Now</button></a>
            </div>
            </div>
        </div>
      </div>

    <script>
        var counter=1;
        setInterval(function(){
            document.getElementById('radio'+counter).checked=true;
            counter++;
            if(counter>6){
                counter=1;
            }
        },4000);

        const imgs=document.querySelectorAll('.img a');
      let imageId=1;
      const imgDiv=document.querySelectorAll('.img');
      imgs.forEach((img)=>{
      img.addEventListener('click',(e)=>{
      e.preventDefault();
      imageId=img.dataset.id;
      imgDiv.forEach((img)=>{
    img.classList.remove('active');
 });
      img.parentElement.classList.add('active');
      slideImage();
  });
});
function slideImage(){
  const imgWidth=document.querySelector('.image-gallery img:first-child').clientWidth;
  let width=(imageId-1)*imgWidth;
  document.querySelector('.image-gallery').style.
  transform=`translateX(${-width}px)`;
}
    </script>
</body>
</html>
   